<?xml version="1.0"?>
<!--XML-->
<launch>
    <!-- SETUP ARGUMENTS -->
    <!-- phobos / phobos_nuclear -->
    <arg name="camera_model" default="phobos_nuclear"/>
    <!-- algorithm 0: OpenCV block -->
    <!-- algorithm 1: OpenCV SGBM -->
    <!-- algorithm 2: I3DR SGM -->
    <arg name="stereo_algorithm" default="2" />
    <!-- enable/disable rviz -->
    <arg name="rviz" default="false" />
    <!-- enable/disable calibration -->
    <arg name="calibrate" default="false"/>
    <!-- is camera with split laser functionality being used -->
    <arg name="split_laser" default="false"/>
    <!-- enable/disbale stereo matching (3D generation) -->
    <arg name="stereo_match" default="true"/>
    <!-- namespace for camera -->
    <arg name="camera_namespace" default="phobos_nuclear"/>
    <arg name="imu" default="false"/>
    <arg name="glue" default="true" />
    <arg name="depth_max" default="10" />
    <arg name="gui" default="true" />

    <!-- Use full res camera model mesh (slower) -->
    <arg name="camera_mesh" default="true" />

    <arg name="urdf_namespace" default="$(arg camera_namespace)"/>

    <include file="$(find i3dr_stereo_camera)/launch/stereo_bag_capture.launch">
        <arg name="camera_model" value="$(arg camera_model)"/>
        <arg name="rviz" value="false" />
        <arg name="split_laser" value="$(arg split_laser)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="camera_mesh" value="$(arg camera_mesh)" />
        <arg name="urdf_namespace" value="$(arg urdf_namespace)"/>
        <arg name="imu" value="$(arg imu)"/>
        <arg name="publish_imu_tf" value="true"/>
        <arg name="gui" value="false"/>
    </include>

    <include file="$(find i3dr_stereo_camera)/launch/stereo_processing.launch">
        <arg name="camera_model" value="$(arg camera_model)"/>
        <arg name="stereo_algorithm" value="$(arg stereo_algorithm)" />
        <arg name="stereo_match" value="$(arg stereo_match)"/>
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="calibrate" value="$(arg calibrate)" />
        <arg name="split_laser" value="$(arg split_laser)"/>
        <arg name="camera_namespace" value="$(arg camera_namespace)"/>
        <arg name="camera_mesh" value="$(arg camera_mesh)" />
        <arg name="urdf_namespace" value="$(arg urdf_namespace)"/>
        <arg name="imu" value="$(arg imu)"/>
        <arg name="glue" value="$(arg glue)" />
        <arg name="depth_max" value="$(arg depth_max)" />
        <arg name="gui" value="$(arg gui)"/>
    </include>

</launch>
